body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    text-align: center;
    padding: 20px;
}

.chart-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #333;
}
